.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.wrapper:last-child {
    margin-bottom: 0;
}

.label {
    font-size: 0.875rem;
    margin-right: 1rem;
    font-weight: 500;
    padding-left: 0.5rem;
}

.options-container > button {
    margin-right: 0.5rem;
}

.options-container > button:last-child {
    margin-right: 0;
}