[ldap]
  enabled = true
  listen = "0.0.0.0:389"

[ldaps]
  enabled = false

[api]
  enabled = true
  internals = true # debug application performance
  tls = false # enable TLS for production!!
  listen = "0.0.0.0:5555"

# [backend]
#   datastore = "plugin"
#   plugin = "mysql.so"
#   pluginhandler = "NewMySQLHandler"
#   database = "zocdoc-platform:123456@tcp(rdb:3306)/zocdocdb"

[backend]
  datastore = "plugin"
  plugin = "mysql.so"
  pluginhandler = "NewMySQLHandler"
  database = "zocdoc-platform:123456@tcp(rdb:3306)/zocdocdb"


# [backend]
#   datastore = "plugin"
#   plugin = "sqlite.so"
#   pluginhandler = "NewSQLiteHandler"
#   database = "/zocdocdb.sqlite"