.container {
    width: 100%;
    padding: 0 2rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    color: #4551FD;
    font-weight: bold;
    flex-shrink: 0;
    display: flex;
}

.container h1 {
    font-size: 1.625rem;
    padding: 0.6em 1em;
    margin-bottom: 0;
}

.container svg {
    color: #4551FD;
}