.input-container {
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.otp-input-wrapper {
    margin-bottom: 0 !important;
}

.otp-input-wrapper input {
    width: 45px !important;
    height: 60px;
    padding: 0;
}

